#headline {
}

#banner {
  background: #B03060;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px Verdana,"Helvetica",sans-serif;
  font-weight: bold;
  color: white;
  text-align:center;
}

#navigation {
  background: #B03060;
  color: white;
  text-align:right;
}
