<h1>ProjectMan</h1>
<p>
  Welcome to the School's automated final year project manager.
</p>

<p>
From  here you can access
<ul>
<li>
a list of <%= link_to 'lecturers', lecturers_path %>
</li>
</ul>
</p>
