<h1>Student Projects.</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Student</th>
    <th>Supervisor</th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.title, project %></td>
    <td><%= project.student %></td>
    <td><%= project.supervisor %></td>
  </tr>
<% end %>
</table>

