<h1>Lecturers</h1>

<table>

<% @lecturers.each do |lecturer| %>
  <tr>
    <td><%= link_to '[Home]', lecturer.home_url %></td>
    <td><%= link_to lecturer.full_name, lecturer %></td>
    <td><%= lecturer.discipline %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lecturer', new_lecturer_path %>
